<h1>Coordinates Lookup</h1>

<form action="http://localhost:3000/coords">
  <div>
    <label for="the_address">Address:</label>
    <input id="the_address" type="text" name="address">
  </div>
   <div>
    <input type="submit" value="Update Coordinates">
  </div>
</form>

<dl>
  <dt>Address:</dt>
  <dd><%= @address %></dd>

  <dt>URL Safe Address:</dt>
  <dd><%= @url_safe_address %></dd>

  <dt>Latitude:</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @longitude %></dd>
</dl>
